body {
  font-family: Arial, sans-serif;
  text-align:center
}
h1 {
  text-align: center;
}
nav {
  padding: 10px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav li a {
  color: blue;
  text-decoration: none;
  font-size: 16px;
}

nav li a:hover {
  color:red;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  border-radius: 8px;
}
li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style-type: disc;
}
footer {
  text-align: center;
  
}
